@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mukta:wght@800&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Kanit&family=Montserrat:wght@200;400&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0F5EF;


}

.encabezados-paginas {
    background-color: #e4e8e1;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px rgb(94, 131, 144);
    border-bottom: black solid 3px;
    border-right: black solid 3px;
    border-radius: 4px;
    width: fit-content;
    display: flex;
    justify-content: center;

}


.titulo {
    display: flex;
    justify-content: center;
}

/****************** HEADER *******************/
header {
    background: linear-gradient(to bottom right, #277DA1, #052c3f);
}



/***************** FIN HEADER *****************/

/***************** INDEX *****************/



.section-index1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgb(237, 237, 237);
    font-size: 4rem;
    font-family: 'Kanit', sans-serif;
    line-height: 1.1;
    letter-spacing: 10px;
    word-spacing: 2rem;
    color: rgba(57, 149, 182, 0.888);
    background-image: linear-gradient(0deg,
            rgba(30, 7, 12, 0.5),
            rgba(5, 7, 12, 0.5)), url(../images/messicopadelmundo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: grid;
    grid-area: section1;


}

.section-index2 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 5px solid goldenrod;
    height: auto;
    display: grid;
    grid-area: section2;


}

.section-index2 h1 {
    height: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: rgb(18, 18, 18);
    text-shadow: 2px 2px 4px;
    letter-spacing: 1px;

}

.texto-section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}



.section-index2 p {
    padding: 30px;
    text-align: justify;
    font-style: oblique;
    font-weight: bold;
    line-height: 1.5;

}

.body-index {
    display: grid;
    grid-template:
        "header"
        "section1"
        "section2"
        "footer"
    ;

}

/***************** FIN INDEX *****************/

/***************** NOTICIAS *****************/

.noticias {
    grid-area: titulonoti;
}

.noticia1 {
    grid-area: noticia1;
}

.noticia2 {
    grid-area: noticia2;
}


.noticia3 {
    grid-area: noticia3;
}

.noticia4 {
    grid-area: noticia4;
}

.noticia {
    width: 90%;
    height: 35rem;
    margin: 1.5rem 1rem;
    padding: 0.3rem;
    border: 3px solid rgb(103, 93, 20);
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}


article {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
    margin: 5px;
}

.cont-img {
    width: 100%;
    display: flex;
    max-height: 360px;

}

.images-noticias {
    max-width: 100%;
    padding: 2px;

}

article h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

article p {
    margin-top: 1rem;
}


article button {
    font-size: 13px;
    margin-top: 10px;
    padding: 2px 5px;
    border-radius: 8px;
    background-color: rgb(218, 233, 239);
    font-weight: bold;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;



}

article button:hover {
    background-color: lightblue;
}



#noticias {
    display: grid;
    gap: 1rem;
    grid-template:
        "titulonoti titulonoti"
        "noticia1 noticia2"
        "noticia3 noticia4";
}

/***************** FIN NOTICIAS *****************/

/***************** BIOGRAFIA *****************/

#biografia {
    background-image: url(../images/messi-fondo-biografia.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    grid-template:
        "titulobio titulobio"
        "p1  bioimag1"
        "bioimag2 p2"
        "p3 bioimag3"
    ;

}

.biografia {
    grid-area: titulobio;
}

.biografia h1 {
    margin-top: 25px;
}

.parrafo1,
.parrafo2,
.parrafo3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.biop {
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 2;
    color: rgb(169, 126, 10);
    text-shadow: 1px 1px rgb(34, 32, 32);
}


.parrafo1 {
    grid-area: p1;
}

.parrafo2 {
    grid-area: p2;
    text-align: right;
}

.parrafo3 {
    grid-area: p3;
}

.div-img1 {
    grid-area: bioimag1;
}

.div-img2 {
    grid-area: bioimag2;
}

.div-img3 {
    grid-area: bioimag3;
}

.imgbio {
    width: 100%;
}


/***************** FIN BIOGRAFIA *****************/

/***************** GALERIA *****************/

#galeria {
    margin: 10px;
    padding: 10px;
}

.galeria-bloque {
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 70px;
}

.galeria-multimedia {
    height: 315px;
}

.titulo-multimedia {
    margin: 10px;
    text-align: right;
    font-size: 20px;
    text-transform: uppercase;
}


/***************** FIN GALERIA *****************/

/***************** SORTEOS *****************/


#sorteos {
    margin: 20px;
    padding: 20px;
    height: fit-content;
    display: grid;
    gap: 1rem;
    grid-template:
        "titusorteo titusorteo titusorteo"
        "bloque1 bloque1 bloque2"
    ;

}

.sorteo-bloque1 {
    width: 60%;
    grid-area: bloque1;
}

.sorteo-bloque1 h2 {
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 30px;
}

.sorteo-bloque1 h4 {
    margin: 15px 0px;
}

.sorteo-bloque2 {
    grid-area: bloque2;
    display: flex;
}

.img-sorteo {
    height: 450px;
}


.sorteos-form {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    height: 40rem;
}

.sorteos-form h4 {
    font-size: 24px;
}


form div {
    line-height: 3;
}

textarea {
    resize: none;
    height: 200px;
    width: 450px;
}

.botones {
    text-align: right;
    letter-spacing: 5px;
}

.reset,
.submit {
    height: 30px;
    width: 90px;
}

.sorteos {
    grid-area: titusorteo;
    margin-bottom: 3rem;
}

/***************** FIN SORTEOS *****************/



/***************** FOOTER *****************/

footer {
    height: 90px;
    background: linear-gradient(to bottom right, #beaa27, #7c730e);
    border-top: 3px solid #252422;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: footer;
}

.copyright p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
    border-top: 40px;
}


.iconos-redes {
    width: fit-content;
    margin: auto;
    display: flex;
}

.iconos-redes li {
    list-style: none;
    margin: 0 20px;
}



.redes img {
    width: 2.5rem;
    height: 2.5rem;
}

/************ FIN FOOTER ***************/

/*********** MEADIA QUERIES ***********/




@media (max-width: 760px) {

    .encabezados-paginas {
        font-size: 2.5rem;
        border-bottom: black solid 2px;
        border-right: black solid 2px;
    }


    /* HEADER */

    .boton-check {
        display: block;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 95px;
        right: 110%;
        width: 100%;
        background-color: rgba(1, 21, 26, 0.9);
        transition: all 0.8s;
    }

    nav ul li:hover {
        background-color: #052c3f;
    }



    nav ul li {
        padding: 50px 0;
        line-height: 30px;
        width: 100vw;
        display: flex;
        justify-content: center;

    }

    nav ul li a {
        margin: 0;
        font-size: 1.3rem;
    }



    .menu-hamburguesa {
        height: 4rem;
    }

    /* FIN HEADER */

    /* INDEX */
    .body-index {
        display: flex;
        flex-direction: column;
    }

    .section-index1 {
        font-size: 4rem;
        letter-spacing: 1.3rem;
        min-width: 300px;
        height: 80vh;
    }

    .andres {
        display: none;
    }

    .cuccitini {
        display: none;
    }

    .section-index2 {

        margin: 0;
    }

    .section-index2 h1 {
        font-size: 3.5rem;
    }

    .texto-section2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;

    }

    .section-index2 p {
        padding: 15px;
        line-height: 1.2;

    }

    /* FIN INDEX */

    /* NOTICIAS */

    #noticias {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .noticia {
        height: 35rem;
        border: 2px solid rgb(103, 93, 20);
    }

    /* FOOTER */

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;

    }


    .redes img {
        width: 2rem;
        height: 2rem;
    }

    .copyright {
        font-size: 0.3rem;

    }

}


@media (max-width: 350px) {

    /* HEADER */

    header {
        min-width: 310px;
        height: 70px;
    }

    header .logo-messi {
        display: none;
    }

    header h2 {
        font-size: 1.5rem;
    }

    header nav {
        padding-left: 20px;
    }

    nav ul {
        top: 43px;
    }

    .menu-hamburguesa {
        height: 2rem;
    }



    header h2 {
        padding-left: 12px;
    }

    /* FIN HEADER */

    /* INDEX */

    .section-index1 {
        height: 70vh;
        letter-spacing: 0.7rem;
        font-size: 2.2rem;

    }

    .section-index2 {
        display: flex;
        flex-direction: column;

    }

    .section-index2 h1 {
        font-size: 1.4rem;
        text-shadow: 1px 1px 2px;
    }

    .texto-section2 {
        font-size: 0.7rem;

    }

    .section-index2 p {
        padding: 8px;
        line-height: 1.1;
    }

    /* FIN INDEX */

    /* NOTICIAS */

    .encabezados-paginas {
        font-size: 1.5rem;
        border-bottom: black solid 2px;
        border-right: black solid 2px;
        text-shadow: 1px 1px rgb(94, 131, 144);
    }

    .noticia {
        height: fit-content;
        padding: 2px;
        justify-content: center;
        height: 420px;
    }

    article{
        font-size: 15px;
    }
    /* FIN NOTICIAS */
    
    footer {
        min-width: 300px;
        height: 60px;
    }

    .copyright p {
        max-width: 120px;
        font-size: 0.7rem;
    }

    .iconos-redes li {
        margin: 0 5px;
    }

    .redes img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

/* FIN FOOTER */ 