#biografia {
    background-image: linear-gradient(rgba(235, 241, 231, 0.6), rgba(235, 241, 231, 0.6)), url(../images/messi-fondo-biografia.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.biografia__bloque {
    display: flex;
    align-items: center;
    padding: 1rem;

    img {
        width: 40vw;
        object-fit: cover;
    }
}

.biografia {
    h1 {
        margin-top: 25px;
    }
}

.biop {
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    font-family: $font-family_5;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 1.8;
    color: $color_5;
    text-shadow: 1px 1px rgb(33, 34, 32);
}

.parrafo2 {
    p {
        text-align: right;
    }
}