footer {
    @include columnaCentrada;
    height: auto;
    background: linear-gradient(to bottom right, #beaa27, #7c730e);
    border-top: 3px solid #252422;
    justify-content: space-around;
    grid-area: footer;
}

.copyright {
    p {
        font-family: $font-family_3;
        font-size: 1rem;
        font-weight: bold;
        color: $color_4;
    }
}

.iconos-redes {
    display: flex;
    justify-content: space-between;

    li {
        list-style: none;
        margin: 0 20px;
    }
}

.redes {
    img {
        width: 2.5rem;
        height: 2.5rem;
    }
}