* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	height: 100%;
	font-family: $font-family_1;
	background-color: $background-color_1;
}
.encabezados-paginas {
	background-color: $background-color_2;
	margin: 10px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 50px;
	text-shadow: 1px 1px rgb(94, 131, 144);
	border-bottom: black solid 3px;
	border-right: black solid 3px;
	border-radius: 4px;
	width: fit-content;
}
.titulo {
	@include filaCentrada;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mukta:wght@800&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Kanit&family=Montserrat:wght@200;400&display=swap');